body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* -------- Users -------- */
/* .c-table {
  border: #ccc 1px solid;
}

.c-table-header {
}

.c-table-row {
} */
