doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

    // bootstrap
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    script(src="/node_modules/@popperjs/core/dist/umd/popper.min.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")

    block head

  body
    block content
