extends ../layout

block head
  link(rel="stylesheet", href="/css/navbar-top-fixed.css")

block content
  include ../shared/nav

  main
    //- "="の後のテキストはエスケープされる
    h1= title
    //- p Welcome to #{title}

    //- divは省略可能
    .table-responsive
      table.table.table-striped
        thead
          tr
            th #
            th 氏名
            th 生年月日
            th 組織
            th 
        tbody
          tr
            td 1,001
            td 山田太郎
            td 1999-11-22
            td A社
            td 
              a.btn.btn-info(href="#").mr-1 Edit
              a.btn.btn-danger(href="#") Delete
          tr
            td 1,002
            td 鈴木次郎
            td 2001-04-30
            td B社
            td 
              a.btn.btn-info(href="#").mr-1 Edit
              a.btn.btn-danger(href="#") Delete

    //- TODO: tableタグを使わないようにしたい
    //- //- divは省略可能
    //- .container.c-table
    //-   .row.c-table-header
    //-     .col-3 氏名
    //-     .col-3 生年月日
    //-     .col-3 組織
    //-     .col-3
    //-   .row.c-table-row
    //-     .col-3 Yamada Taro
    //-     .col-3 1999-11-22
    //-     .col-3 A company
    //-     .col-3
    //-       a.btn.btn-info(href="#").mr-1 Edit
    //-       a.btn.btn-danger(href="#") Delete
    //-   .row.c-table-row
    //-     .col-3 Yamada Taro
    //-     .col-3 1999-11-22
    //-     .col-3 A company
    //-     .col-3
    //-       a.btn.btn-info(href="#").mr-1 Edit
    //-       a.btn.btn-danger(href="#") Delete
