extends ../layout

block head
  link(rel="stylesheet", href="/css/navbar-top-fixed.css")

block content
  include ../shared/nav

  main
    //- "="の後のテキストはエスケープされる
    h1= title
    hr

    form(action="/users", method="POST")
      input(type="hidden", name="_csrf" value=csrfToken)
      input(type="hidden", name="identifier" value=`${user.identifier().value()}`)
      div.form-row
        div.form-group.col-md-2
          label(for="inputFirstName") FirstName
          input#inputFirstName.form-control(type="text", name="firstName")
        div.form-group.col-md-2
          label(for="inputLastName") LastName
          input#inputLastName.form-control(type="text", name="lastName")
      div.form-row
        div.form-group.col-md-4
          label(for="inputDateOfBirth") Date of birth
          input#inputDateOfBirth.form-control(type="date", name="dateOfBirth")
      div.form-row
        div.form-group.col-md-4
          label(for="inputOrganization") Organization
          input#inputOrganization.form-control(type="text", name="organization")

      div.my-2
        button.btn.btn-primary(type="submit") Save
